{% extends "base.html" %}

{% block article %}

<a href = "your_name/"> Pon tu nombre</a>


{% if movie_list %}
    <ul>
    {% for movie in movie_list%}
        <h2>{{ movie.title }}</h2>
        <img src="/static/movies/assets/img/{{ movie.title |slugify}}.jpg" alt="{{ movie.title }}">
        <p>{{ movie.overview }}</p>
        <p>Fecha de lanzamiento: {{ movie.release_date }}</p>
        <!-- Puedes agregar más detalles aquí según lo desees -->
        <a href="{% url 'movie_detail' movie.pk %}">Ver detalles</a>
    {% endfor %}
    </ul>
{% else %}
    <p>No hay películas disponibles.</p>
{% endif %}

{% endblock article%}